global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 10s
    timeout client  1m
    timeout server  1m

# Dashboard pemantauan HAProxy (Bisa dibuka di browser)
listen stats
    mode http
    bind *:8404
    stats enable
    stats uri /
    stats refresh 5s

# Konfigurasi Load Balancer untuk MariaDB Galera
listen mariadb_cluster
    bind *:3306
    mode tcp
    # Menggunakan metode roundrobin (bergantian: node1 -> node2 -> node3 -> kembali ke node1)
    balance roundrobin
    
    # Deteksi kesehatan database (Health Check) secara berkala
    option tcp-check
    
    server galera_node1 node1:3306 check inter 2s rise 2 fall 3
    server galera_node2 node2:3306 check inter 2s rise 2 fall 3
    server galera_node3 node3:3306 check inter 2s rise 2 fall 3
